<div class="home">
  <section class="home__header">
    <h1>JAVIER LOPEZ CANTERO</h1>
    <h2>.developer</h2>
    <ul class="home__links">
      <li>
        <a href="mailto:javlocan.dev@gmail.com"><img src="/icons/gmail.svg" alt="gmail" /></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/javlocandev/" target="_blank"
          ><img src="/icons/linkedin.svg" alt="linkedin"
        /></a>
      </li>
      <li>
        <a href="https://github.com/javlocan" target="_blank"
          ><img src="/icons/github.svg" alt="github"
        /></a>
      </li>
      <li>
        <a href="/documents/cv.pdf" target="_blank"><img src="/icons/cv.svg" alt="cv" /></a>
      </li>
    </ul>
  </section>
  <section class="home__about">
    <h3 class="home__quote">
      Tras un tiempo explorando profesionalmente el mundo social, he decidido volver a mis raíces de
      ingeniero como desarrollador <strong>frontend</strong> y <strong>fullstack.</strong>
    </h3>
  </section>
</div>
